.main-menu{
    
}
.main-menu ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    border: 1px solid;
    align-items: center;
    justify-content: center;
}
.main-menu ul li{}
.main-menu ul li a {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    border: 1px solid;
    margin: 5px;
}
.item4{
    align-self: flex-start;
}